.idea

*.iml


target
.project
.classpath

.settings
.gitignore
logs



#忽略根目录下bin文件夹中的所有文件，【/bin/*表示】
/bin/*

#忽略所有.class文件，*.class。
*.class

#不要忽略根目录下bin文件夹中.java文件，!/bin/*.java，这样就完成了。
!/bin/*.java
